$error: red;
$success: green;
$warning: orange;
$info: blue;
$primary: #8439eb;
$secondary: #767676;
$light: #f7f7f7;
$dark: #2b2b2b;
$white: #fff;
$whiteOpacity: rgba(0, 0, 0, 0.392);
$black: #000;
$yellow: #ffc1079d;
$gray: #868e96;
$grayDark: #343a40;
$grayLight: #e9ecef;
$grayLighter: #f3f3f3;
$formBackground: url("https://i.hizliresim.com/oo3jouw.png");
$contentBackGround: url("https://i.hizliresim.com/ejv8s0l.png");
