$error: red;
$success: green;
$warning: orange;
$info: blue;
$primary: #0070f3;
$secondary: #767676;
$light: #f7f7f7;
$dark: #2b2b2b;
$white: #fff;
$black: #000;
$yellow: #ffc107;
$gray: #868e96;
$grayDark: #343a40;
$grayLight: #e9ecef;
$grayLighter: #f3f3f3;
